<h2>Fun with Select!</h2>
<form #form="ngForm" (ngSubmit)="buttonClicked(form)">
  <div>
    <div>
      <dropdown
        label="Superlative: "
        [selected]="selected_superlative"
        [options]="superlative_options"
        (selectedChanged)="onSelectSuperlative($event)">
      </dropdown>
    </div>

  </div>

  <div>
    <div>
      <dropdown
        label="Rank: "
        [selected]="selected_rank"
        [options]="rank_options"
        (selectedChanged)="onSelectRank($event)">
      </dropdown>
    </div>


    <my-button type="button" label="Click Me"></my-button>

    <messages title="Click Button Messages" [messages]="button_messages"></messages>
  </div>
</form>
<div></div>
