.form-container {
    margin: 0 auto;
    width: 600px;
}

.autocomplete{
  /*width: 100%;*/
  margin: 0 auto;
  width: 50%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 80%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
  background-color: #fff;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 1px;
  padding-left: 0px;
}

.autocomplete li{
  text-align: left;
  text-indent: 5px;
  list-style:none none outside;
  width: 100%;
  padding-bottom:0.4em;
  padding-top:0.4em;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.autocomplete li:active{
  width: 100%;
  border: 2px solid black;
}

.autocomplete li:hover {
  width: 100%;
  background-color: #4aa;
}

.autocomplete li:focus {
  width: 100%;
  background-color: #4aa;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}
