

<div class="form-container">
  <form>
      <div class="autocomplete">
        <input type="text" id="autocompletionInput" class="sb-input"
          placeholder="Enter search term" [formControl]="searchInput"
          tabindex="1" (keydown)="inputKeydown($event)"/>
        <ul id="autcompletionDropdown" [ngStyle]="dropdownStyle">
          <li *ngFor="let suggestion of suggestions; let i = index"
            (click)="suggestionSelected(suggestion)" tabindex="{{i + 2}}"
            (keydown)="itemSelected($event, suggestion)">
            {{suggestion.name}}
          </li>
        </ul>
      </div>
      <input type="submit" class="sb-button" value="Search" />
  </form>
</div>
